* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container {
    height: 100vh;
    width: 100vw;
    background-image:
            url("../img/pink-wall.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 3px 3px 5px #000000;
}


#main-title {
    width: 100vw;
    font-size: 13em;
    color: rgba(255, 255, 255, 0.9);
    /*color: #ecfbfd;*/
    position: absolute;
    top: 10%;
    right: 20%;
}

#description {
    width: 35vw;
    font-size: 4em;
    color: rgba(250, 237, 230, 0.9);
    position: absolute;
    top: 70%;
    right: 10%;

}

