* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    width: 100vw;
}
#main-container {
    width: 100vw;
}
/*Index - Above the fold*/

#navbar-placeholder {
    width: 100vw;
    height: 8vh;
    position: fixed;
    display: block;
    z-index: 1000;
    background-color: black;
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 2em;
}

#navbar-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#above-fold {
    height: 100vh;
    width: 100vw;
    background-image: url("../../img/desk.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}

#main-title {
    font-size: 11em;
    color: rgba(146, 9, 18, 0.9);
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 15%;
    right: 10%;
}

/*#description {*/
/*    width: 25vw;*/
/*    font-size: 3em;*/
/*    color: rgba(0, 0, 0, 0.8);*/
/*    position: absolute;*/
/*    top: 24%;*/
/*    right: 20%;*/

/*}*/