* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

html {
    width: 100vw;
}

/*Small M and S and XS Site*/

#profile-container-small {
    width: 100vw;
}
/*Index - Above the fold*/

#profile-navbar-placeholder-small {
    width: 100vw;
    height: 8vh;
    position: fixed;
    top: 0;
    display: block;
    z-index: 1001;
    background-color: #212121;
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 1.5em;
}

#profile-navbar-list-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#profile-above-fold-small {
    height: 100vh;
    width: 100vw;
    background-image: url("../../img/desk.jpg");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    font-family: 'Bungee Shade', cursive;
    overflow-y: scroll;
}

#small-profile-header {
    font-size: 4em;
    color: rgba(146, 9, 18, 0.9);
    font-family: 'Bungee Shade', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 60px;

}

#small-photo {
    width:70vw;
    height: auto;
    border-radius: 50px;
}